
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <!-- Bootstrap core CSS -->
    
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><span style="font-size: larger;font-weight: bolder">Welcome Home</span> </div>
            <div class="list-group list-group-flush">
                @Html.ActionLink("Staff", "Staff", "Faculty", new {id = @ViewBag.id}, new {@class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Departments", "Departments", "Faculty", new { id = @ViewBag.id }, new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Courses", "Courses", "Faculty", new { id = @ViewBag.id }, new { @class = "list-group-item list-group-item-action bg-light" })
                @Html.ActionLink("Students", "Students", "Faculty", new { id = @ViewBag.id }, new { @class = "list-group-item list-group-item-action bg-light" })
                <div class="line-between" style="height: 525px; max-height: 100%; color: black"></div>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setting &#9881;
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Edit</a>
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-outline-dark" id="menu-toggle">&#8646;</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            @Html.ActionLink("Faculty", "Details", "Faculty", new { id =@ViewBag.id}, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Faculty">Home</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>
