@using University_For_All.Models
@model IEnumerable<University_For_All.Models.Instructor>
@{
    ViewBag.Title = "Faculty-Staff";
    Layout = "~/Views/Faculty/_FacultyDetailsLayout.cshtml";
}
@{
    var right = true;
    var db = new ApplicationDbContext();
    var staffFaculty = db.Instructors.SingleOrDefault(i => i.ints_email == User.Identity.Name);
    var studentfaculty = db.Student.SingleOrDefault(i => i.st_email == User.Identity.Name);
    int result = -1;
    if (User.IsInRole("professor"))
    {
        result = staffFaculty.id;
    }
    else if (User.IsInRole("student"))
    {
        result = studentfaculty.id;
    }

}
<style>
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        max-height: 200vh;
    }

    .card {
        width: 250px;
        margin: 10px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    }

        .card img {
            width: 100%;
            max-height: 150px;
        }

        .card .text {
            padding: 0 20px 20px;
        }

            .card .text > .button {
                background: gray;
                border: 0;
                color: white;
                padding: 10px;
                width: 100%;
            }
</style>

<h2 style="text-align: center">Staff Cards</h2>
<main class="container cards ">
    
    @foreach(var staff in Model)
    { 
        <article class="card">
            <img class="img-responsive" src="@Url.Content(@staff.inst_picture)" alt="picture for @staff.inst_lname">
            <div class="card-body">
                <h3><b>@string.Join(" ", staff.ints_fname, staff.inst_lname)</b></h3>
                <h5> @staff.Faculty.fc_name</h5>
               
            </div>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("More Info", "Details", "Staff", new { id = staff.id }, new { @class = "btn btn-outline-secondary" })
            }
            else if (User.IsInRole("professor") && staff.id == result)
            {
                @Html.ActionLink("More Info", "Details", "Staff", new { id = staff.id }, new { @class = "btn btn-outline-secondary" })
            }
        </article>
    }
</main>

