@model IEnumerable<University_For_All.Models.Take>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_HomeLayout2.cshtml";}
<span style="color: red;">@ViewBag.error</span>
<div class="container mt-3">
    <h2 align="center">
        Manegement Section For Enrolement
    </h2>
    <input class="form-control" id="myInput" type="text" placeholder="&#x1F50D;Search..">
    <br>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.cr_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade.Latter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.st_fname)
            </th>
            <th></th>
        </tr>
        <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.cr_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.Latter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.st_fname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.id} ,new {@class="btn btn-outline-primary"})
                    @Html.ActionLink("Delete", "Delete", new {id = item.id}, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
            </tbody>
    </table>
</div>
<p>
    <a href="/Takes/Create" class="btn btn-primary" style="position: fixed; left:0; bottom: 0; width: auto;height: auto"> New Course Enrolement</a>
</p>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>