@model University_For_All.Models.Instructor

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Home/_HomeLayout2.cshtml";
}

<h2>Change Password</h2>

@using (Html.BeginForm("Save","Staff",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.inst_password, "Old Password")
                <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" class="form-control"/>
                @Html.ValidationMessageFor(model => model.inst_password, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <label for="newpasswrd" class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.inst_password, new {@class="form-control", placeholder = "New Password" })

                @*
                <input type="password" id="newpasswrd" name="newPassword" placeholder="New Password" class="form-control"/>
                *@
                @Html.ValidationMessageFor(model => model.inst_password, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label col-md-2">Confirm Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.inst_confirmPassword, new { @class = "form-control", placeholder = "Password" })

                @*
                <input type="password" id="ConfirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control"/>
                *@
                @Html.ValidationMessageFor(model => model.inst_confirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>


        @Html.Hidden("from", "changePassword")
        @Html.HiddenFor(s => s.id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    
}

