@using System.Web.UI.WebControls
@model University_For_All.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Home/_HomeLayout2.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Save", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-10">
        <div class="image-upload">
            <label for="file-input">
                <img id="image_preview" src="@Url.Content(Model.st_picture)" title="change Image" style="cursor: pointer; width: 100px; height: 100px; border-radius: 50%;" />
            </label>

            <input id="file-input" name="upload" type="file" onchange="readfile(this)" style="display: none" />
        </div>
    </div>
    @Html.ValidationMessageFor(model => @Model.st_picture, "", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(s => s.st_address)
        @Html.TextBoxFor(s => s.st_address, new { @class = "form-control" })

    </div>

    <div>
        @Html.LabelFor(s => s.st_city)
        @Html.TextBoxFor(s => s.st_city, new { @class = "form-control" })
    </div>
   
    <div>
        @Html.LabelFor(s => s.st_phone)
        @Html.TextBoxFor(s => s.st_phone, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(s=>s.id)
    @Html.Hidden("from", "Edit")
    <button type="submit" class="btn btn-outline-success">Save</button> 
}

<script type="text/javascript">

    function readfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>