
@using Microsoft.Ajax.Utilities
@model University_For_All.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}

<style>
    figcaption:hover {
        color: white;
    }
     
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-2 " style="text-align: center;">
            <img src="@Url.Content(Model.st_picture)" class="amira">

            <a href="/Student/Edit/@Model.id"> <figcaption class="figure-caption">edit photo</figcaption></a>

        </div>
        <div class=" bor col-lg-5 ">
            <h2>
                @string.Concat(Model.st_fname, " ", Model.st_lname)
            </h2>
            <br>
            <br>
            <p>
                Faculty:  @Model.Faculty.fc_name
            </p>
            <p>

                Level:  @Model.st_level
            </p>
            <p>
                Department:  @Model.Department.name
            </p>
            <p>
                GPA  : Null
            </p>
            <p>
                gmail : @Model.st_email
            </p>

        </div>

        <div class="bor col-lg-5">
        </div>

    </div>
</div>


<div class="container">
    <text style="font-size: 6vw; font-weight: bolder; color: white;text-align:center"> I'm Not Taking Any Course For Now 😁</text>
</div>