@using University_For_All.Models
@model IEnumerable<University_For_All.Models.Faculty>

@{
    ViewBag.Title = "manageStudent";
    Layout = "~/Views/Home/_HomeLayout2.cshtml";
}
@{
    var db =new ApplicationDbContext();

}

<div class="container mt-3">
    <h2 align="center">
        Manegement Section For Students
    </h2>
    <input class="form-control" id="myInput" type="text" placeholder="&#x1F50D;Search..">
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Staff Number</th>
            <th>Student Number</th>
            <th>Department Number</th>
            <th colspan="3" style="text-align: center">Manage Links</th>
        </tr>
        </thead>
        <tbody id="myTable">
        @foreach (var faculty in Model)
        {
            <tr>
                <td>@faculty.id</td>
                <td>@faculty.fc_name</td>
                <td>
                    <img src="@Url.Content(faculty.fc_logo)" style="width: 30px; height: 30px; border-radius: 50%;" />
                </td>
                <td>@Convert.ToString(db.Instructors.Count(s=>s.Facultyid==faculty.id))</td>
                <td>@Convert.ToString(db.Student.Count(s => s.FacultyId == faculty.id))</td>
                <td>@Convert.ToString(db.Departments.Count(s => s.Facultyid == faculty.id))</td>
                
                <td><a href="/Faculty/Edit/@faculty.id" class="btn btn-primary"style=" width: auto;height: auto">Edit</a></td>
                <td><a href="/Faculty/Delete/@faculty.id" class="btn btn-danger">Delete</a></td>
                <td><a href="#" class="btn btn-secondary">Report</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p>
    <a href="/Faculty/New" class="btn btn-primary" style="position: fixed; left:0; bottom: 0; width: auto;height: auto"> Create New</a>
</p>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>