@using Microsoft.AspNet.Identity.Owin

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   

    @Styles.Render("~/home/css")

    <title>Home</title>
    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown>.dropdown-toggle:active {
            /*Without this, clicking will make it sticky
        // pointer-events: none;*/
        }
    </style>
</head>
<body>
    <section class="lets-learn">
    <div class="slogon">
        Let's Learn
    </div>
    <div class="header">
        <div class="navbar">
            <div>
                <a href="/home"><img src="~/Content/Site(Image,video)/Home/Image/logo.png" style="width: 100px" class="img-responsive" alt=""></a>
            </div>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" style="width:400px " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">&#9906;</button>
            </form>

            <div class="nav-links">
                <ul>
                    <li><a href="\Faculty">Faculties</a></li>
                    <li><a href="#">ChatApp</a></li>
                    <li> <a href="#about">About us</a></li>
                    <li><a href="#contact">Contact us </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Adminstration ▼
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Administration/ListRoles">Roles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Administration/manageStudent">Student</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Administration/manageStaff">Staff</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Administration/manageFaculty">Faculties</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Departments/Index">Departments</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Courses/Index">Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Takes/Index">Enrolement</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="dropdown">
                @if (User.IsInRole("professor") | User.IsInRole("admin"))
                {
                    @Html.Partial("_StaffLoginPartial")
                }
                else if (User.IsInRole("student"))
                {
                    @Html.Partial("_LoginPartial")
                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
                
            </div>
        </div>

    </div>
    <div class="data">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="content">
                        <p>Welcome To</p>
                        <p>The Future</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/Content/Site(Image,video)/Home/Image/repsentation.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </section>

@RenderBody()


@Scripts.Render("~/home/js")
@Scripts.Render("~/bundles/jqueryval");
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</body>
</html>