@model University_For_All.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_HomeLayout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faculty.fc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.fc_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.ints_fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.ints_fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cr_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cr_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cr_credit_hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cr_credit_hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cr_term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cr_term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cr_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cr_level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
